<div class="text-center">
  <div class="cocktail_name_homepage">
    <h2> <%= @cocktail.name %> </h2>
    <%= link_to "Revenir a la homepage",cocktails_path, class: "btn btn-danger btn-lg" %>
  </div>
  <div class="cocktail-card">
    <div class="cockatil-img">
      <%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>
    </div>
    <% @cocktail.doses.each do |dose| %>
    <div class="cocktail-dose">
      <%= dose.description %>
      <%= dose.ingredient.name %>
      <%= link_to "remove", cocktail_dose_path(@cocktail, dose), method: :delete,  class: "btn btn-success btn-sm"%>
    </div>
    <% end %>
  </div>

  <br>
  <br>
  <%= link_to "add a dose", new_cocktail_dose_path(@cocktail), class: "btn btn-success" %>



  <%= link_to "add a review", new_cocktail_review_path(@cocktail), class: "btn btn-success" %>

<% count = 0 %>
 <% @cocktail.reviews.each do |review| %>
 <% count += 1 %>
 <% review.description %>
 <% review.created_at %>
 <% end %>

<h2> Reviews : <%= count  %> </h2>

<ul>
 <% @cocktail.reviews.each do |review| %>
 <li><%= review.description %> -->
 <%= review.created_at %></li>
 <% end %>
</ul>
</div>
