<h3> <%= @cocktail.name %> </h3>

<%= link_to "Revenir a la homepage",cocktails_path%>


<hr>


      <% @cocktail.doses.each do |dose| %>
      <%= dose.description %>
      <%= dose.ingredient.name %>
      <%= link_to "remove", cocktail_dose_path(@cocktail, dose), method: :delete %>

      <br>
      <% end %>



<br>
<br>
<%= link_to "add a dose", new_cocktail_dose_path(@cocktail) %>
