<div class="col-xs-12 col-md-offset-4 padded">
  <div class="formulaire">
   <div class="col-xs-12 text-center">
    <%= simple_form_for [@cocktail, @dose] do |f| %>
      <%= f.text_field :description, placeholder: "ingredient's description" %>
      <%= f.input :ingredient_id, collection: @ingredients, label_method: :name, value_method: :id  %>
      <%= f.submit 'Add a dose' %>
    <% end %>
   </div>
  </div>
</div>

<%= link_to "homepage", cocktails_path %>
